---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Lisas's About"
  seoTitle="Desarrolladora"
  seoDesc={"Hi there! My name is Maria Elisa Araya, and I'm a software engineer " +
    "with over 3 years of experience in the industry"}
>
  <div class="w-6/12 mx-auto">
    <h1 class="text-5xl">About</h1>
    <img
        src="https://mariaelisaarayaportfolio.netlify.app/images/about.png"
        class="my-2 mx-auto block shadow-md drop-shadow-[5px_5px_5px_rgba(39,245,131,0.6)]"
    />
    <p>
      ¡Hola! Mi nombre es Eli pero me dicen Lisa, soy una desarrolladora web Full Stack con más de 3 años de experiencia en la industria. 
      Me apasiona construir software de alta calidad que resuelva problemas del mundo real y haga la vida de las personas más fácil.
    </p><br />
    <p>
      Mi experiencia se centra en el desarrollo full-stack, con un enfoque en aplicaciones web. 
      Soy competente en diversos lenguajes de programación, como JavaScript, Golang y Python, y me siento cómoda trabajando con herramientas y frameworks como 
      React, Node.js, Angular y Astro.
    </p><br />
    <p>
      Además de mis habilidades técnicas soy una amante de la organización y disfruto en resolver problemas.
    </p><br />
    <p>
      Estoy buscando nuevas oportunidades para trabajar en proyectos emocionantes, si te agrada mi perfil, no dudes en ponerte en contacto conmigo. 
      ¡Gracias por pasarte!
    </p>
  </div>