---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Lisa";
---

<MainLayout
  title="Lisa Portfolio Site" 
  seoTitle="Lisa Araya, Desarrolladora"
  seoDesc="Desarrolladora con experiencia en Astro, React, Next y Node"
>
  <div class="w-8/12 md:w-6/12 mx-auto">
    <h1
      class="text-5xl md:text-6xl text-center drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
		Hi!🫰 I am Maria Elisa Araya
    </h1>
    <div id="typed-strings">
		<p>I am a <strong>Developer</strong></p>
		<p>I <em>work</em> with Astro, React, NextJS, Node.</p>
    </div>

    <div class="text-center mt-6"><span id="typed"></span></div>
  </div>
</MainLayout>

<script>
	import Typed from "typed.js";
  
	var typed = new Typed("#typed", {
	  stringsElement: "#typed-strings",
	  typeSpeed: 50,
	  loop: true,
	});
</script>