---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { projects: "first" },
      props: {
        name: "AdventJS2023",
        desc: "Me encuentro parcipando activamente en el AdventJS2023, un emocionante proyecto organizado por midudev. Este desafío consiste en resolver problemas diarios de programación. En mi caso lo resuelvo con JavaScript, Golang y pseudocódigo. Mi participación en el AdventJS2023 se encuentra documentada en el siguiente repositorio de GitHub https://github.com/mariaelisaaraya/adventJS2023",
      },
    },
    {
      params: { projects: "second" },
      props: {
      name: "Ingenias + YPF",
      desc: "Durante un período de 5 meses, tuve el privilegio de colaborar con Ingenias e YPF en un proyecto de empoderamiento digital. El enfoque fue preparar a las estudiantes en el ámbito del desarrollo backend, utilizando tecnologías como Node.js y bases de datos relacionales y no relacionales. Mi objetivo principal fue reforzar la confianza y la seguridad de las alumnas, guiándolas a través del proceso de aprendizaje y fomentando su independencia. Mi portafolio incluye todas las clases, explicaciones detalladas y recursos que se proporcionaron para garantizar que cada alumna pudiera avanzar con éxito. En la siguiente dirección se encuentra el código https://github.com/mariaelisaaraya/ingenias-Backend", 
      },
    },
    {
      params: { projects: "third" },
      props: {
        name: "GifS",
        desc: "GifS es un proyecto que desarrollé con el objetivo de crear una página web donde se puedan ver los gifs populares actuales y buscar gifs según preferencias. La aplicación está construida utilizando HTML, CSS (a través de SASS) y JavaScript. Los datos para la aplicación se obtuvieron de la API de Giphy. Te invito a explorar el código fuente en mi repositorio de GitHub: https://github.com/mariaelisaaraya/projectgifos",
     },
    },
    {
      params: { projects: "fourth" },
      props: {
        name: "Podcast Channel",
        desc: "Podcast Channel es un proyecto centrado en el diseño de la página de inicio de un canal de podcast. La implementación se realiza con HTML y CSS. El código se encuentra en el siguiente link https://github.com/mariaelisaaraya/podcast_channel.",
      },
    },
  ];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
  <section class="mx-auto w-3/6">
    <img
      src=`/images/${projects}.png`
      width="600"
      height="600"
      class="rounded"
    />
    <h1 class="font-bold mt-4">Project {name}</h1>
    <p>{desc}</p>
    <section></section>
  </section>
</MainLayout>